@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --primary-green: #057040;
  --light-green: #0caa63;
  --mint-green: #d1f4d1;
  --primary-orange: #FF6F61;
  --dark-orange: #f05446;
  --primary-grey: #766f6f;
  --mid-grey: #6e6969;
  --light-grey: #d3d1d1;
}

body {
  background: url("https://cdn.pixabay.com/photo/2017/04/06/17/44/outlook-2208932_1280.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: Quicksand, sans-serif;
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto;
}

@media only screen and (min-width: 900px) {
  .App {
    margin: 100px auto;
  }
}

.hero-wrapper {
  background-color: var(--white);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  gap: 1rem;
  padding: 20px;
}

@media only screen and (min-width: 900px) {
  .hero-wrapper {
    width: 70%;
    box-shadow: 
      25px 0px 20px -20px rgba(0, 0, 0, 0.45),
      0px 25px 20px -20px rgba(0, 0, 0, 0.45),
      -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
    gap: 1.25rem;
    margin: 0 auto;
  }
}

.primary-orange {
  color: var(--primary-orange); 
}

.primary-green {
  color: var(--primary-green);
}

h1 {
  font-family: Poppins, sans-serif;
  color: var(--primary-grey);
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 0;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
}

.hero-text {
  font-size: 1rem;
  line-height: 1.5;
}

@media only screen and (min-width: 900px) {
  .hero-text {
    font-size: 1.2rem;
  }
}

input {
  text-align: center;
  border: 1px solid var(--light-grey);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

@media only screen and (min-width: 900px) {
  input {
    width: 80%;
    max-width: 400px;
  }
}

.cta-btn {
  background-color: var(--light-green);
  border: none;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--white);
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-btn:hover {
  background-color: var(--dark-orange);
  color: var(--white);
}

.quote-wrapper {
  border-radius: 10px;
  background-color: var(--mint-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.quote-heading {
  font-family: Poppins, sans-serif;
  color: var(--mid-grey);
  font-size: 1rem;
  text-align: left;
}

@media only screen and (min-width: 900px) {
  .quote-heading {
    font-size: 1.1rem;
    align-self: flex-start;
  }
}

.quote {
  font-size: 1.2rem;
  text-align: center;
  padding: 15px 0;
}

.quote-phrase {
  font-style: italic;
  font-size: 1.2rem;
}

@media only screen and (min-width: 900px) {
  .quote-phrase {
    align-self: flex-end;
  }
}