
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("https://cdn.pixabay.com/photo/2014/09/14/18/04/dandelion-445228__480.jpg") no-repeat center center fixed; 
  background: url("https://cdn.pixabay.com/photo/2019/03/21/23/04/flowers-4072214__480.jpg") no-repeat center center fixed; 

  background: url("https://cdn.pixabay.com/photo/2016/03/07/21/12/grass-1243082__480.jpg") no-repeat center center fixed; 

  background-size: cover;
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

@media only screen and (max-width: 375px) {
  .App {
    gap: 10px;
  }
}

header {
  margin-top: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr .4fr;
  grid-template-areas: 
  "header-logo header-quotes-section";
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 375px) {
  header {
    margin-top: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header-logo"
    "header-quotes-section";
  }
}

.header-logo {
  color: rgb(43, 41, 41);
  grid-area: header-logo;
  border-right: 1px solid black;
  padding: 3%;
  justify-self: end;
}

@media only screen and (max-width: 375px) {
  .header-logo {
    width: 100%;
    text-align: right;
    border: none;
    border-bottom: 1px solid black;
  }
}

.header-logo-p {
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-logo-p:hover {
  color: rgb(31, 172, 76);
  text-decoration: underline;
  }

.header-quotes-section {
  grid-area: header-quotes-section;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;
}

@media only screen and (max-width: 375px) {
  .header-quotes-section {
    width: 100%;
    grid-template-columns: 1fr .7fr;
  }
}

.header-quotes-section-allQuotes-wrapper {
  border-right: 1px solid black;
  padding: 17% 25% 17% 17%;
}

@media only screen and (max-width: 375px) {
  .header-quotes-section-allQuotes-wrapper  {
    padding: 0;
    padding: 10px 50px 10px 0;
  }
}

.header-quotes-section-search-wrapper {
  padding: 17% 24% 17% 17%; 
}

@media only screen and (max-width: 375px) {
  .header-quotes-section-search-wrapper {
    padding: 0;
    padding: 10px 0;
  }
}

.header-search-text {
  color: black;
  text-decoration: none;
}

.header-search-text:hover {
color: rgb(31, 172, 76);
text-decoration: underline;
}

.header-random-text {
  color: black;
  text-decoration: none;
}

.header-random-text:hover {
  color: rgb(31, 172, 76);
  text-decoration: underline;
}

.loading-wrapper {
    width: 900px;
    /* background-color: rgb(248, 227, 253); */
    border: 1px solid black;
    padding: 4% 5%;
    text-align: left;
}

@media only screen and (max-width: 375px) {
  .loading-wrapper {
      text-align: center;
      align-items: center;
      padding: 5% 7%;
  }
}

.hero-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 4% 5%;
  /* border: 1px solid black; */
}

@media only screen and (max-width: 375px) {
  .hero-wrapper {
    width: 90%;
    text-align: center;
    align-items: center;
    gap: 15px;
    margin: 0 15px;
    padding: 10% 5%;
  }
}

.hero-quote {
  text-align: center;
  /* border: 2px dotted red; */
}

.bold-text {
  font-weight: bold;
  color:rgb(43, 41, 41);
}

.hero-btn {
  background-color: rgb(184, 53, 239);
  background-color: rgb(17, 121, 7);
  background-color: rgb(23, 143, 186);
  background-color: rgb(244, 232, 70);
  padding: 15px 20px;
  /* border: 1px solid black; */
  border: none;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 3px 10px rgb(115, 113, 113);
}

.hero-btn:hover {
  background-color: black;
  color: white;
}

.quotes-wrapper-empty {
  width: 30%;
  padding: 3% 5%;
  margin-top: 13px;
}

@media only screen and (max-width: 375px) {
  .quotes-wrapper-empty {
    width: 90%;
    margin-top: 50px;
  }
}

.quotes-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px;
  background-color: white;
}

@media only screen and (max-width: 375px) {
  .quotes-wrapper {
    width: 90%;
    gap: 0;
    align-items: center; 
    text-align: center;
    padding: 30px 20px;
    margin-top: 30px;
  }
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 375px) {
  h1 {
    font-size: 24px;
  }
}

.quote-content {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 20px 0;
  border-bottom: 1px solid rgb(226, 221, 221);
}

@media only screen and (max-width: 375px) {
  .quote-content {
    gap: 10px;
  }
}

.quotes-label-input{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.search-quote-label {
  color: rgb(43, 41, 41);
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .search-quote-label {
    font-size: 18px;
  }
}

.quotes-input {
  padding: 5px;
  border: 1px solid  rgb(226, 221, 221);
}

@media only screen and (max-width: 768px) {
  .search-results-wrapper {
    margin-top: 30px;
  }
}

